<div > 
<div class="container w-100 ">

    <div class="row w-100 mt-5 ">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindos ao blog Comunidade, aproveite e cadastre-se :)</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace"> Olá, sejam todos muito bem vindos ao blog Comunidade, aqui você  poderá compartilhar conteúdo com várias pessoas sobre seus assuntos prediletos e conhecer pessoas que tem os mesmos gostos em comum. Pedimos respeito a todos os usuários e as suas ideias, não será permitido qualquer tipo de ofensa ou brincadeira ofensiva a determinado perfil.
            </p>
        </div>
    </div>
    <img src="https://i.blogs.es/57a9a7/hero/1024_2000.jpg" class="img-fluid justify-content-center" alt="Imagem responsiva">
</div>

   <!-- <div class="parallax" ></div> --> 

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
          <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
      </div>
    
    </div>